<div class="container my-4">
  <div class="row">
    <div class="col-md-3">
      <div class="">
        <div class="row mb-3">
          <div class="col-12">
            <a href="/createpet" class="btn btn-md btn-dark w-100">add new pet.</a>
          </div>
          <div class="col-12">
            <button onclick="showNewPost()" class="btn btn-md btn-dark w-100">new post.</button>
          </div>
        </div>
      </div>
        <h5 class="mb-2" style="letter-spacing: -1">current pets</h5>
        <ul class="list-group mb-3">
          {{#each pets as |pet|}}
          <li class="list-group-item" style="letter-spacing: -1">
            <a href="/profile/{{username}}" class="text-secondary">{{name}}</a>
          </li>
          {{/each}}
        </ul>
    </div>

    <div class="col-md-9">
      <div class="card mb-3 bg-light shadow-md">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <img src="{{currentPet.pet_pic}}" alt="Profile picture" class="rounded-circle mr-3" style="width: 64px; height: 64px;">
              <div>
                <h4 class="card-title" style="letter-spacing: -1">{{currentPet.name}}, {{calculateBday currentPet.birthday}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">@{{currentPet.username}}</h6>
              </div>
            </div>
            <button onclick="editPetForm()" id='editPet'class="btn btn-dark btn-sm" style="margin-left: auto; height: 35px;">edit pet.</button>
          </div>
          <p class="card-text">{{currentPet.bio}}</p>
          <p class="card-text"><strong>favorite food:</strong> {{currentPet.favorite_food}}</p>
          <p class="card-text"><strong>favorite toy:</strong> {{currentPet.favorite_toy}}</p>
        </div>
        <div id="editPetEl" style="display: none;">{{>editpet}}</div>
        <div class='card bg-light shadow-md' id="newPostEl" style="display: none;">
          {{> newpost}}
        </div>
      </div>

      <section>
        {{#each posts as |post|}}
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{picture}}" alt="Post image" class="card-img"
              style="width: 100%; height: auto; aspect-ratio: 1 / 1; object-fit: cover;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">{{post.caption}}</p>
                <button class="btn btn-secondary float-right delete-button" data-id="{{id}}">Delete</button>
                <button class="btn edit btn-secondary float-right mr-2 edit-button" data-buttonid="{{id}}">Edit</button>
                <div id="editPost{{id}}" style="display: none;">{{>editpost}}</div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </section>
    </div>
  </div>
</div>

<script src="/js/deletePost.js"></script>
<script src="/js/editPet.js"></script>
<script src="/js/hideCreate.js"></script>
<script src="/js/hideEdit.js"></script>